/*
* @Author: shengxingyue
* @Date:   2017-09-02 23:23:53
* @Last Modified by:   shengxingyue
* @Last Modified time: 2017-09-03 11:40:05
*/
body{
	background-color: #ccc;
	background-image: url('../../image/head.jpg');
	background-repeat: no-repeat;
}